/* Media Queries */

/* iPad Pro (Landscape) */
@media only screen and (max-width: 1366px) {
    .flex-item {
        width: 100%;
    }

    section p,
    .left p {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    section p:first-of-type {
        margin-top: 5%;
    }

    section p:last-of-type {
        margin-bottom: 5%;
    }

    .first {
        order: 2;
    }

    .second {
        order: 1;
    }

    #about img {
        margin-top: 5%;
    }

    #project-details .flex-item {
        width: 50%;
    }

    #single {
        display: block;
    }

    .flex-item p a {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    #column {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .quote .flexcontainer:first-of-type {
        padding-bottom: 5%;
    }

    .testimonial .flex-item {
        width: 90%;
    }

    .testimonial img {
        width: 80%;
    }

    .arrow.flex-item {
        width: 5% !important;
    }

    .dots.flexcontainer {
        width: 75%;
    }

    footer .container {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 14pt;
    }

    .arrow {
        display: none;
    }

    .fa-circle {
        padding: 0 4%;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 12pt;
    }

    .fa-10x {
        font-size: 8em;
    }

    img {
        max-width: 50%;
    }

    .fa-circle {
        font-size: 30pt;
    }

    .quote {
        height: 22rem;
    }

    .skewed {
        margin-bottom: 5%;
    }

    .testimonial img {
        width: 100%;
    }

    section p,
    .left p {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #project p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .container i {
        margin: 2% 5%;
    }
}
