@charset "utf-8";
/* CSS Document */

/* Colour CSS Variables */

:root {
    --main-color: #ffaa00;

    --about: #C79C79;
    --lf-design: #EA6001;
    --books: #7C808B;
    --nescol: #4D3B6B;

    --arteriale: #000000;
    --surface: #666666;
    --silvernote: #101010;

    --dragon-tempest: #04637A;
    --dreamless-roads: #6A5087;
    --rogue-odyssey: #908135;

    --hair-by-julie: #482e3b;
    --srp: #2C5F3D;
}

/* Element styling */

body {
    height: auto;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
}

html {
    background: #ffaa00;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 50pt;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 20pt;
}

p,
blockquote,
cite {
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    color: #ffffff;
}

blockquote {
    font-style: italic;
}

cite {
    font-style: normal;
}

.fa-circle {
    font-size: 50px;
    padding: 0 2%;
}

a,
.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-circle {
    text-decoration: none;
    cursor: pointer;
}

img {
    border-radius: 50%;
    max-width: 90%;
}

.normal {
    border-radius: 0;
}

h1:hover,
a:hover,
a img:hover {
    opacity: 0.75;
}

section img,
section iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section p,
section blockquote {
    margin-left: 25%;
}

.testimonial blockquote,
cite {
    margin-left: 5%;
}

.left p,
.left blockquote {
    margin-left: 0;
    margin-right: 25%;
}

/* Colour Classes */

.orange {
    color: var(--main-color);
}

#about {
    background: var(--about);
}

#lfdesign {
    background: var(--lf-design);
}

#books {
    background: var(--books);
}

/* Light Green */

.lightgreen {
    background: #489963 !important;
}

/* Forest Green */

.forestgreen {
    background: #228B22;
}

/* Green */

.srp,
.srp-color,
#srp-test1,
#srp-test2,
#srp-test3 {
    background: var(--srp);
}

/* Purple */

.nescol,
.nescol-color {
    background: var(--nescol);
}

#worldskills {
    background: #2B2627;
}

#worldskillsimg {
    border: 10px solid #ffffff;
}

/* Pure Black */

#arteriale,
.arteriale-color,
.arteriale {
    background: var(--arteriale);
}

.pureblack {
    background: #000000 !important;
}

/* Black */

#silvernotegrey,
#sn-test1,
#sn-test2,
#sn-test3,
#bbc-test1,
#bbc-test2,
#bbc-test3,
#bbcbck2,
.silvernote-color {
    background: #101010;
}

/* Dark Grey */

#silvernoteblack,
#snbck2 {
    background: #272727;
}

/* Light Grey */

#surface,
#lightgrey,
#surface-test1,
#surface-test2,
#surface-test3,
.surface-color {
    background: var(--surface);
}

#lightgrey2 {
    background: #858585;
}

#lightgrey3 {
    background: #bababa;
}

/* Hot Pink */

.bbc {
    background: #A60253;
}

/* Medium Pink */

.mediumpink {
    background: #9c3a57;
}

/* Aubergine Pink */

.julie-color,
.aubergine {
    background: var(--hair-by-julie);
}

/* Gold */

#julie,
.julie {
    background: #B79D3B !important;
}

/* Light Pink */

.lightpink {
    background: #d47da7;
}


.rogue-color {
    background: var(--rogue-odyssey);
}

#yellow {
    background: #BC8022;
}

/* More purple lavender */

#dreamless,
.purple {
    background: #847391;
}

.dreamless-color,
#lavender,
#dreamless-test1,
#dreamless-test2,
#dreamless-test3 {
    background: var(--dreamless-roads);
}

#lightpurple {
    background: #8264a3;
}

#lilac {
    background: #a578b3;
}

/* Medium blue */

.mediumblue {
    background: #058dad !important;
}

/* Deep medium blue */

.dragon,
.dragon-color,
#dragon-test1,
#dragon-test2,
#dragon-test3 {
    background: var(--dragon-tempest);
}

/* Light blue */

#cyrenians,
#cyrenians-test1,
#cyrenians-test2,
#cyrenians-test3 {
    background: #0876BD;
}

/* Very light blue */

#lightblue {
    background: #05c1ed;
}

.flexcontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    height: auto;
    padding: 2% 0;
    justify-content: space-around;
    align-items: center;
}

.dots.flexcontainer {
    justify-content: center;
}

.flex-item {
    width: 50%;
}

.testimonial .flex-item {
    width: 80%;
}

.testimonial img {
    width: 60%;
}

#cyrenians-test1 img,
#cyrenians-test2 img,
#srp-test3 img {
    width: 40%;
}

#srp-test1 img,
#srp-test2 img {
    width: 35%;
}

.arrow.flex-item {
    width: 10% !important;
}

.hidden {
    visibility: hidden;
}

.fa-chevron-left {
    margin-left: 50%;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #ffaa00;
}

footer {
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
    background-color: #ffaa00;
}

footer h2 {
    color: #ffffff;
}

.container {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
}

.container i {
    margin: 2% 10%;
    max-width: 90%;
}

i {
    font-size: 50pt;
    color: #ffffff;
}

.small {
    display: none;
}

.no-top {
    padding-top: 0 !important;
}

.no-bottom {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0;
}

.subpage p {
    margin-left: 10%;
}

.projectimg {
    width: 60%;
    padding-top: 10%;
}

.top {
    padding-top: 10%;
}

iframe {
    width: 60%;
    height: 500px;
}

.hidemultiple {
    display: none;
}

footer.phone {
    display: none;
}

@media only screen and (max-width: 1300px) {

    /* iPad (Landscape) */

    .hidemedium {
        display: none;
    }

    #dreamless img,
    .dragon img {
        width: 50%;
    }

    #surface p,
    #cyrenians p {
        margin-left: 0;
        margin-right: 5%;
    }

    .projectimg {
        width: 80%;
    }

    .srplogo {
        width: 40%;
    }

    iframe {
        height: 400px;
    }

}

@media only screen and (max-width: 1000px) {

    /* Full width */

    .flexcontainer {
        padding: 2% 0 2% 0;
    }

    .flex-item {
        width: 100%;
    }

    section img {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .projectimg {
        width: 40%;
        padding-top: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .iconrow {
        padding-top: 5%;
    }

    .linkrow {
        width: 50%;
    }

    section p,
    section blockquote {
        margin-left: 5%;
        margin-right: 5%;
    }

    .left p,
    .left blockquote,
    #surface p,
    #cyrenians p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .hidemedium {
        display: block;
    }

    span.hidemedium,
    .medium {
        display: none;
    }

    .small {
        display: block;
    }

    .hidemultiple {
        display: block;
    }

    .hidesingle {
        display: none;
    }

    #smallimg {
        width: 20%;
    }

    #dreamless img,
    .dragon img {
        width: 30%;
    }

    .hidephone {
        display: none;
    }

    footer.hidephone {
        display: none;
    }

    footer.phone {
        display: block;
    }

    .social.flex-item {
        width: 33%;
        text-align: center;
    }

    .srplogo {
        width: 20%;
    }

    iframe {
        height: 300px;
    }

}

@media only screen and (max-width: 700px) {

    .projectimg {
        width: 60%;
    }

    #smallimg {
        width: 30%;
    }

    .fa-circle {
        padding: 0 5%;
    }

    .fa-chevron-left {
        margin-left: 25%;
    }

    .dots.flexcontainer {
        padding: 4% 0;
    }

    .srplogo {
        width: 30%;
    }

    iframe {
        width: 80%;
    }

}

@media only screen and (max-width: 450px) {

    section img {
        width: 50%;
    }

    .srplogo {
        width: 40%;
    }

    .testimonial img {
        width: 90%;
    }

    .testimonial blockquote,
    cite {
        margin-left: 0;
        margin-right: 0;
    }

    .testimonial .flex-item {
        width: 80%;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        display: none;
    }

    #smallimg {
        width: 50%;
    }

    #surface img {
        width: 90%;
    }

    #dreamless img,
    .dragon img {
        width: 50%;
    }

    .no-margin {
        width: auto;
    }

    .hidesmallphone {
        display: none;
    }

    .flexcontainer {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .projectimg {
        width: 80%;
    }

    #lightpurple .projectimg,
    .mediumblue .projectimg,
    #cyrenians img,
    #cyrenians-test1 img,
    #cyrenians-test2 img,
    #srp-test3 img,
    #srp-test1 img,
    #srp-test2 img {
        width: 90%;
    }

    iframe {
        height: 200px;
    }

}
