@charset "utf-8";
/* CSS Document */

body {
	height: auto;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Manoyri";
	font-size: 50pt;
	text-align: center;
	color: #ffaa00;
}

h2 {
	font-family: "Manoyri";
	font-size: 25pt;
	text-align: center;
	color: #ffaa00;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14pt;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.flexcontainer {
	display: flex;
	width: 80%;
	height: auto;
	padding: 2% 10%;
	justify-content: space-between;
}

.home-content {
	width: 100%;
	height: auto;
	overflow: auto;
	background-color: #ffaa00;
}

.home-content img {
	width: 60%;
	height: auto;
	overflow: auto;
	margin: 10% 0 0 20%;
	border-radius: 50%;
}

.home-content p {
	padding: 2%;
}

.image {
	width: 30%;
	height: auto;
	overflow: auto;
	float: left;
}

.text {
	width: 70%;
	height: auto;
	overflow: auto;
	float: left;
}

#web {
	background-color: #ffffff;
}

#web .image {
	margin-top: 2%;
}

#web .image, #web .text, #web p, #brand .image, #brand .text, #brand p {
	float: right;
	color: #ffaa00;
}

#author {
	background-color: #ffaa00;
}

#brand {
	background-color: #ffffff;
}

#brand .image {
	margin-top: 2%;
}