@charset "utf-8";
/* CSS Document */

/* Colour CSS Variables */

:root {
    --main-color: #ffaa00;
    --secondary-color: #ffffff;

    --red: #EA6001;
    --blue: #65a4cc;
}

/* Colour Classes */

.orange {
    color: var(--main-color);
}

section {
    background: var(--red);
}

.left,
#project {
    background: var(--blue);
}

/* Element styling */

html {
    background: #ffaa00;
    font-size: 15pt;
}

body {
    height: auto;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
}

/* Text Styling */

h1,
h2,
h3 {
    font-family: "Fira Sans", "Montserrat", sans-serif;
    font-size: 3.333rem;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 1.667rem;
}

h3 {
    font-size: 1.333rem;
}

h1:hover,
h3 a:hover,
a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

#project-details i:hover,
footer a:hover {
    text-decoration: none;
    border: none;
    opacity: 0.75;
}

#project p {
    margin-left: 15%;
}

a img:hover,
section a i:hover {
    border: 5px solid var(--secondary-color);
}

p,
blockquote,
cite {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: 140%;
}

blockquote {
    font-style: italic;
}

cite {
    font-style: normal;
}

a,
.fa-chevron-left:hover,
.fa-chevron-right:hover,
.fa-circle {
    text-decoration: none;
    cursor: pointer;
}

.fa-circle {
    font-size: 50px;
    padding: 0 2%;
}

img {
    border-radius: 50%;
    max-width: 90%;
}

.normal {
    border-radius: 0;
}

/* Section Styling */

section img,
section iframe,
section i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section p,
section blockquote {
    margin-left: 25%;
}

/* Testimonial Styling */

.quote {
    height: 400px;
}

.quote .flexcontainer {
    height: 40%;
}

.project {
    height: 600px;
}

.project .flexcontainer {
    height: 45%;
    padding-top: 5%;
}

.project .dots.flexcontainer {
    padding-top: 0;
    padding-bottom: 5%;
}

.testimonial blockquote,
cite {
    margin-left: 5%;
}

/* Media Styling */

i {
    font-size: 3.333rem;
    color: #ffffff;
}

iframe {
    width: 60%;
    height: 500px;
}

footer {
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
    background-color: var(--main-color);
}

footer h2 {
    color: var(--secondary-color);
}

/* Class Styling */

.left p,
.left blockquote {
    margin-left: 0;
    margin-right: 25%;
}

.container {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
}

.container i {
    margin: 2% 10%;
    max-width: 90%;
}

.skewed {
    width: 100%;
    height: 30px;
    background: var(--blue);
    z-index: 0;
    transform: skewY(1deg);
    transform-origin: top right;
}

.skewed-left {
    transform: skewY(-1deg);
    transform-origin: top left;
    background: var(--red)
}

.small {
    display: none;
}

.no-top {
    padding-top: 0 !important;
}

.no-bottom {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0;
}

.subpage p {
    margin-left: 10%;
}

.projectimg {
    width: 60%;
    padding-top: 10%;
}

.top {
    padding-top: 10%;
}

/* Flexbox */

.flexcontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    height: auto;
    padding: 2% 0;
    justify-content: space-around;
    align-items: center;
}

.dots.flexcontainer {
    width: 50%;
    justify-content: center;
}

.flex-item {
    width: 50%;
}

.testimonial .flex-item {
    width: 60%;
}

/* Image */

.testimonial img {
    width: 60%;
}

.arrow.flex-item {
    width: 10% !important;
}

.hidden {
    visibility: hidden;
}

.fa-chevron-left {
    margin-left: 50%;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
    color: #ffaa00;
}

#worldskillsimg {
    border-bottom: 5px solid var(--secondary-color);
}

/* Mobile */

#single {
    display: none;
}

#column {
    display: block;
}
