---
layout: _base-layout.ejs
eleventyExcludeFromCollections: true
title: Care Plans - Taking Care of Your Website - LF Design
description: LF Design offers low-cost care plans to allow our clients peace of mind. They don't have learn web development or WordPress in order to maintain their website
short_description: LF Design offers low-cost care plans to allow our clients peace of mind. They don't have learn web development or WordPress in order to maintain their website
keywords: LF Design, web designer, web developer, WordPress, care plans, website maintenance, WordPress care plans, WordPress maintenance
hero_image: bio-pic.jpg
---

<!doctype html>
<html lang="en">

<body>
    <div class="planContainer">
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Hosting</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>£15 </p><span>/mo</span>
                </div>
                <div class="p desc"><em>Great for tech-savvy people who want to manage their site themselves.</em></div>
                <ul class="features">
                    <li>Premium Cloud Hosting</li>
                    <li>Speed Optimisation</li>
                    <li>Free SSL Certificate (Green Padlock)</li>
                    <li>Monthly WordPress + Plugin Updates</li>
                    <li>Monthly Cloud Backups</li>
                    <li>24/7 Uptime Monitoring</li>
                    <li>Email Support</li>
                </ul>
            </div>
        </div>
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Support</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>£30</p><span>/mo</span>
                </div>
                <div class="p desc"><em>Recommended for people who want a helping hand maintaining their website.</em></div>
                <ul class="features">
                    <li>Premium Cloud Hosting</li>
                    <li>Speed Optimisation</li>
                    <li>Free SSL Certificate (Green Padlock)</li>
                    <li>Weekly WordPress + Plugin Updates</li>
                    <li>Daily Cloud Backups</li>
                    <li>24/7 Uptime Monitoring</li>
                    <li>Phone & Email Support</li>
                    <li>Minor Content Updates</li>
                </ul>
            </div>
        </div>
        <div class="plan">
            <div class="titleContainer">
                <div class="title">Partner</div>
            </div>
            <div class="infoContainer">
                <div class="price">
                    <p>£45</p><span>/mo</span>
                </div>
                <div class="p desc"><em>Ideal for those that want someone else to manage their whole digital platform.</em></div>
                <ul class="features">
                    <li>Premium Cloud Hosting</li>
                    <li>Speed Optimisation</li>
                    <li>Free SSL Certificate (Green Padlock)</li>
                    <li>Weekly WordPress + Plugin Updates</li>
                    <li>Daily Cloud Backups</li>
                    <li>24/7 Uptime Monitoring</li>
                    <li>Phone & Email Support</li>
                    <li>Major Content Updates</li>
                    <li>Monthly Reports</li>
                    <li>SEO Optimisation</li>
                    <li>£100s of Premium Plugins</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
