---
layout: _base-layout.ejs
---
<head>
    <link rel="canonical" href="{{ canonical_url }}">
</head>
<article>
  <h2>{{ title }}</h2> 
  <p><time datetime><span class="bold">Date: </span>{{ page.date | readableDate }}</time></p>
  <img id="blog-hero" src="{{ hero_image }}" alt="{{ title }}">
  {{ content | safe }}
  <h3>Share {{ title }}</h3>
  <div class="flexcontainer">
    <a target="_blank" href="{{ fb_link }}">
        <i class="fab fa-facebook-square"></i>
    </a>
    <a target="_blank" href="{{ ctt_link }}">
        <i class="fab fa-twitter-square"></i>
    </a>
    <a target="_blank" href="{{ linkedin_link }}">
        <i class="fab fa-linkedin"></i>
    </a>
  </div>
</article>