---
layout: _base-layout.ejs
---

<section id="test1" class="project testimonial">
    <div class="flexcontainer">
        <div class="arrow flex-item">
            <i class="slide2 fas fa-chevron-left"></i>
        </div>
        <div class="flex-item">
            <picture>
                <%- test_image1 %>
            </picture>
        </div>

        <div class="arrow flex-item">
            <i class="slide2 fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="flexcontainer">
        <div class="dots flexcontainer">
            <i class="slide1 orange fas fa-circle"></i>
            <i class="slide2 fas fa-circle"></i>
            <i class="slide3 fas fa-circle"></i>
        </div>
    </div>
</section>

<section id="test2" class="project testimonial">
    <div class="flexcontainer">
        <div class="arrow flex-item">
            <i class="slide1 fas fa-chevron-left"></i>
        </div>
        <div class="flex-item">
            <picture>
                <%- test_image2 %>
            </picture>
        </div>
        <div class="arrow flex-item">
            <i class="slide3 fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="flexcontainer">
        <div class="dots flexcontainer">
            <i class="slide1 orange fas fa-circle"></i>
            <i class="slide2 fas fa-circle"></i>
            <i class="slide3 fas fa-circle"></i>
        </div>
    </div>
</section>

<section id="test3" class="project testimonial">
    <div class="flexcontainer">
        <div class="arrow flex-item">
            <i class="slide2 fas fa-chevron-left"></i>
        </div>
        <div class="flex-item">
            <picture>
                <%- test_image3 %>
            </picture>
        </div>
        <div class="arrow flex-item">
        </div>
    </div>
    <div class="flexcontainer">
        <div class="dots flexcontainer">
            <i class="slide1 orange fas fa-circle"></i>
            <i class="slide2 fas fa-circle"></i>
            <i class="slide3 fas fa-circle"></i>
        </div>
    </div>
</section>
