---
layout: _base-layout.ejs
title: Louise Findlay's Blog
description: Louise Findlay has designed and developed over 20 static websites, WordPress websites and mobile web apps. Find out more about her work.
short_description: Louise Findlay has designed and developed over 20 static websites, WordPress websites and mobile web apps.
keywords: Louise Findlay, web designer, web developer, front-end web developer, WordPress designer
hero_image: bio-pic.jpg
pagination:
  data: collections.post
  size: 3
  reverse: true
  alias: posts
permalink: /blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html
---

<main class="post-list">
    {% for post in posts %}
      <article>
        <h3>
          <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h3>

        <a href="{{ post.url | url }}">
            <img src="{{ post.data.hero_image }}" alt="{{ post.data.title }}">
        </a>

        <p><time datetime><span class="bold">Date: </span>{{ post.data.date | readableDate }}</time></p>

        {% excerpt post %}

        <a href="{{ post.url | url }}"
       aria-label="Read more on {{ post.data.title }}">Read more</a>
      </article>
    {% endfor %}
    {% if pagination.previousPageHref %}
        <div class="flexcontainer flex-start">
            <a class="pagination-item prev" rel="prev" href="{{ pagination.previousPageHref }}">← Newer</a>
        </div>
    {% endif %}

      {% if pagination.nextPageHref %}
        <div class="flexcontainer flex-end">
            <a class="pagination-item next" rel="next" href="{{ pagination.nextPageHref }}">Older →</a>
        </div>
      {% endif %}
    </div>
</main>